<div class="loading-container">
    {{> ui/loading}}
</div>

<form id="forgot_password_second_form" class="forgot-password">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h5 class="panel-title panel-padding">{{t "forgotPassword.step2"}}</h5>
        </div>

        <div class="panel-body">
            <div class="form-group">
                <label for="securityQuestion">{{securityQuestion}} <strong class="required">*</strong></label>
                <div>
                    <input id="securityAnswer" name="securityAnswer">
                    <label class="no-email-error" for="securityAnswer">{{t "forgotPassword.incorrectSecurityAnswer"}}</label>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="offset-wrapper">
                <button type="submit" class="btn-dark">{{t "forgotPassword.buttonSubmit"}}</button>
                <button type="button" class="btn-dark btn-cancel">{{t "forgotPassword.cancel"}}</button>
            </div>
        </div>
    </div> {{!-- end: .panel --}}
</form>