<form id="login_form" class="login-form">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label for="password">{{t "account.username"}}</label>
                <div>
                    <input type="text" id="input_username" name="username" placeholder="{{t "account.username"}}" value="{{account.getAccountName}}">
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">{{t "account.password"}}</label>
                <div>
                    <input id="password" name="password" type="password" placeholder="{{t "account.password"}}" >
                </div>
            </div>
            <div class="form-group">
                <label>&nbsp;</label>
                <div>
                    <label for="page-cbRememberMe" class="lbl-for-cb">
                        <span class="checkbox-wrap"><input type="checkbox" id="page-cbRememberMe" name="rememberMe" class="fa-chk-sqr" {{isChecked account.getRememberMe }} ></span>
                        {{t "account.remember"}}
                    </label>
                </div>
            </div>
            <div id="errorMsgContainer" class="form-group hidden">
                <label>&nbsp;</label>
                <div id="errorMsg" class="text-danger"></div>
            </div>
        </div> {{!-- end: .panel-body --}}

        <div class="panel-footer">
            <div class="offset-wrapper">
                <button id="btn_login" class="login-btn btn-dark" type="submit">{{t "login.loginBtn" }}</button>
            </div>
        </div>
    </div> {{!-- end: .panel --}}
</form>