<div class="modal fade" id="contact-center-popup" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i>
                    {{t "contactCenter.title"}}
                </h4>
            </div>
            <div class="modal-body table">
                <div class="table-cell contact-info">
                    <table>
                        <thead>
                        <tr>
                            <td colspan="2">{{t "contactCenter.asia"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{t "contactCenter.telLabel"}}</td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.emailLabel"}}</td>
                            <td>{{t "contactCenter.emailAsia"}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                        <tr>
                            <td colspan="2">{{t "contactCenter.europe"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{t "contactCenter.telLabel"}}</td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.emailLabel"}}</td>
                            <td>{{t "contactCenter.emailEurope"}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table>
                        <thead>
                        <tr>
                            <td colspan="2">{{t "contactCenter.restOfWorld"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{t "contactCenter.telLabel"}}</td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.emailLabel"}}</td>
                            <td>{{t "contactCenter.emailWorld"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-cell live-chat">
                    <table>
                        <thead>
                        <tr>
                            <td colspan="2">{{t "contactCenter.liveChat"}}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="2" class="click-to-livechat">
                                <a href="">
                                    <img src="/assets/images/click-to-livechat.png" alt=""/>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.skype"}}</td>
                            <td>{{t "contactCenter.betDealSupport"}}</td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.line"}}</td>
                            <td>{{t "contactCenter.betDealSupport"}}</td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.viber"}}</td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{t "contactCenter.telNumber"}}</td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.twitter"}}</td>
                            <td>{{t "contactCenter.betDealSupport"}}</td>
                        </tr>
                        <tr>
                            <td>{{t "contactCenter.yahoo"}}</td>
                            <td>{{t "contactCenter.betDealYahoo"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
