<div class="cell cell-outcome outcome o-{{outcome.id}}{{getOutcomeDirection outcome.dir}} {{showFlags outcome.flags}}">
    <div class="price-container">
    	<a class="price btn {{showFlags outcome.flags}}" data-outcome="{{outcome.id}}" data-price="{{outcome.price}}" title="{{team}}">
    		<span class="team">{{team}}</span>
    		<div class="european-price">
    			<span class="dir-caret"></span>
    			{{outcome.price}}
    		</div>
    	</a>
    </div>
</div>