<div class="home-page">
  {{> ui/home-slider id='banners'}}
  {{!--<div id="banner" data-ride="carousel" data-interval="5000"
       class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#banner" data-slide-to="0"></li>
      <li data-target="#banner" data-slide-to="1" class="active"></li>
      <li data-target="#banner" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item ">
        {{getBanner 'homepage-main-carousel-1'}}
        <div class="carousel-caption">
          <h2>Get $100</h2>
          <span>First Time Bonus</span>

          <a href="" class="btn btn-signup-now">Sign up Now!</a>
        </div>
      </div>
      <div class="item active">
        {{getBanner 'homepage-main-carousel-2'}}
        <div class="carousel-caption">
          <h2>Get $100</h2>
          <span>First Time Bonus</span>

          <a href="" class="btn btn-signup-now">Sign up Now</a>
        </div>
      </div>
      <div class="item">
        {{getBanner 'homepage-main-carousel-3'}}
        <div class="carousel-caption">
          <h2>Get $100</h2>
          <span>First Time Bonus</span>

          <a href="" class="btn btn-signup-now">Sign up Now</a>
        </div>
      </div>
    </div>
  </div>--}}
  <ul class="list-play">
    <li>{{getBanner 'list-play-1'}}</li>
    <li>{{getBanner 'list-play-2'}}</li>
    <li>{{getBanner 'list-play-3'}}</li>
    <!--li>{{getBanner 'list-play-4'}}
      {{!--<div class="title">
        <label>Games</label>

        <a href="" class="btn btn-play-now">Play Now!</a>

        <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
          aliquet diam. Mauris at placerat velit.
        </div>--}}
      </div>
    </li-->
  </ul>
  {{!-- <div class="promos-freebles">
    <div class="title">Promos and Freebles</div>
    <div class="cl-left">
      <div class="sub-banner">
        {{getBanner 'promos-banner-1'}}
      </div>
      <div class="sub-banner">
        {{getBanner 'promos-banner-2'}}
      </div>
    </div>
    <div id="promos-freebles" data-ride="carousel" data-interval="false"
         class="carousel slide cl-right">
      <ol class="carousel-indicators">
        <li data-target="#promos-freebles" data-slide-to="0"
            class="active"></li>
        <li data-target="#promos-freebles" data-slide-to="1"></li>
        <li data-target="#promos-freebles" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">{{getBanner 'promos-carousel-1'}}
        </div>
        <div class="item">{{getBanner 'promos-carousel-2'}}</div>
        <div class="item">{{getBanner 'promos-carousel-3'}}</div>
      </div>
    </div>
  </div> --}}
</div>