<div class="loading no-market">
	{{#ifCond section '===' 'search'}}
		{{t 'sports.searchnoresult'}}

	{{else}}
	{{sectionCode}}
		{{#ifCond section '===' 'sports'}}
			{{t 'sports.noavailabledate'}}
		{{else}}
			{{t 'sports.noavailable'}}
		{{/ifCond}}
	{{/ifCond}}
</div>