<div class="footer">
    <div class="wrapper-main footer-contents">
        <div class="fcontent fcopy">
            <img src="/assets/images/brand.png" class="brand">
            <p>{{{this.cyear}}} {{t "footer.trademark"}}</p>
        </div>
        <div class="fcontent flinks">
            <div class="fc-title">Footer Links</div>
            <div class="multi-link">
                <ul>
                    <li><a class="flink default" data-url="/msw_assets/content/about.html" data-type="modal">{{t 'static.about'}}</a></li>
                    <li><a class="flink default" data-url="/msw_assets/content/contact.html" data-type="modal">{{t 'static.contact'}}</a></li>
                    <li><a class="flink default" data-url="/msw_assets/content/faqs.html" data-type="modal">{{t 'static.faq'}}</a></li>
                    <li><a class="flink default" data-url="https://media.megasportsworld.com/training-videos.php" data-type="modal">{{t 'static.tutorials'}}</a></li>
                    <li><a class="flink default" data-url="/msw_assets/content/howtofund.html" data-type="modal">{{t 'static.fund'}}</a></li>
                    <li><a class="flink default" data-url="/msw_assets/content/terms.html" data-type="modal" >{{t 'static.terms'}}</a></li>
                    {{!-- <li><a class="flink" data-url="/msw_assets/content/terms.html" data-type="modal">{{t 'static.terms'}}</a></li> --}}
                    <li><a class="flink default" data-url="/msw_assets/content/responsiblegaming.html" data-type="modal">{{t 'static.responsible'}}</a></li>
                    <li><a class="flink default" data-url="/msw_assets/content/security.html" data-type="modal">{{t 'static.security'}}</a></li>
                    <!--li><a class="flink" data-url="/msw_assets/content/disclaimer.html" data-type="modal">{{t 'static.disclaimer'}}</a></li-->
                    <!--<li><a class="flink default" data-url="/msw_assets/content/sportsrule.html" data-type="modal">{{t 'static.sportsrule'}}</a></li>-->
                </ul>
            </div>
        </div>
        <div class="fcontent faffiliates">
            <a href="http://www.asianlogic.com/" target="_blank"><img class="footer-logos" src="/assets/images/foot-asl-logo.png" /></a>
            <a href="http://www.pagcor.ph/" target="_blank"><img class="footer-logos" src="/assets/images/foot-pagcor-logo.png" /></a>
            <img class="footer-logos" src="/assets/images/foot-ocvi-logo.png" />
        </div>
        <div class="fcontent fsocial">
            <div class="fc-title">Follow us</div>
            <div class="social-link">
                <a href="{{t 'footer.fblink'}}" target="_blank"><i class="fa fa-facebook-square"></i>{{t 'footer.fb'}}</a>
                <a href="{{t 'footer.twitlink'}}" target="_blank"><i class="fa fa-twitter-square"></i>{{t 'footer.twit'}}</a>
            </div>
        </div>
    </div>
</div>