<div class="matchtracker">
    <iframe class="matchtracker-frame {{part}}" src="{{{frameUrl}}}#{{part}}" name='matchtracker-{{part}}'></iframe>
    <div class="matchtracker-states {{part}}">{{> live/empty-tracker state=2 }}</div>
</div>